.bg-primary-1{ background-color: #ebf5d6; }
.bg-primary-2{ background-color: #ddeebb; }
.bg-primary-3{ background-color: #cce699; }
.bg-primary-4{ background-color: #bbdd77; }
.bg-primary-5{ background-color: #aad555; }
.bg-primary-6{ background-color: #99cc33; }
.bg-primary-7{ background-color: #80aa2b; }
.bg-primary-8{ background-color: #668822; }
.bg-primary-9{ background-color: #4d661a; }
.bg-primary-10{ background-color: #334411; }
.bg-primary-11{ background-color: #1f290a; }

.hover:bg-primary-1{ background-color: #ebf5d6; }
.hover:bg-primary-2{ background-color: #ddeebb; }
.hover:bg-primary-3{ background-color: #cce699; }
.hover:bg-primary-4{ background-color: #bbdd77; }
.hover:bg-primary-5{ background-color: #aad555; }
.hover:bg-primary-6{ background-color: #99cc33; }
.hover:bg-primary-7{ background-color: #80aa2b; }
.hover:bg-primary-8{ background-color: #668822; }
.hover:bg-primary-9{ background-color: #4d661a; }
.hover:bg-primary-10{ background-color: #334411; }
.hover:bg-primary-11{ background-color: #1f290a; }

.bg-secondary-1{ background-color: #fbfdf7; }
.bg-secondary-2{ background-color: #f8fcf1; }
.bg-secondary-3{ background-color: #f5faeb; }
.bg-secondary-4{ background-color: #f2f8e4; }
.bg-secondary-5{ background-color: #eef7dd; }
.bg-secondary-6{ background-color: #ebf5d6; }
.bg-secondary-7{ background-color: #c4ccb2; }
.bg-secondary-8{ background-color: #9da38f; }
.bg-secondary-9{ background-color: #767b6b; }
.bg-secondary-10{ background-color: #4e5247; }
.bg-secondary-11{ background-color: #2f312b; }

.hover:bg-secondary-1{ background-color: #fbfdf7; }
.hover:bg-secondary-2{ background-color: #f8fcf1; }
.hover:bg-secondary-3{ background-color: #f5faeb; }
.hover:bg-secondary-4{ background-color: #f2f8e4; }
.hover:bg-secondary-5{ background-color: #eef7dd; }
.hover:bg-secondary-6{ background-color: #ebf5d6; }
.hover:bg-secondary-7{ background-color: #c4ccb2; }
.hover:bg-secondary-8{ background-color: #9da38f; }
.hover:bg-secondary-9{ background-color: #767b6b; }
.hover:bg-secondary-10{ background-color: #4e5247; }
.hover:bg-secondary-11{ background-color: #2f312b; }

.bg-tertiary-1{ background-color: #d2d4ce; }
.bg-tertiary-2{ background-color: #b4b8ad; }
.bg-tertiary-3{ background-color: #8f9485; }
.bg-tertiary-4{ background-color: #6a705c; }
.bg-tertiary-5{ background-color: #444d33; }
.bg-tertiary-6{ background-color: #1f290a; }
.bg-tertiary-7{ background-color: #1a2208; }
.bg-tertiary-8{ background-color: #151b07; }
.bg-tertiary-9{ background-color: #101505; }
.bg-tertiary-10{ background-color: #0a0e03; }
.bg-tertiary-11{ background-color: #060802; }

.hover:bg-tertiary-1{ background-color: #d2d4ce; }
.hover:bg-tertiary-2{ background-color: #b4b8ad; }
.hover:bg-tertiary-3{ background-color: #8f9485; }
.hover:bg-tertiary-4{ background-color: #6a705c; }
.hover:bg-tertiary-5{ background-color: #444d33; }
.hover:bg-tertiary-6{ background-color: #1f290a; }
.hover:bg-tertiary-7{ background-color: #1a2208; }
.hover:bg-tertiary-8{ background-color: #151b07; }
.hover:bg-tertiary-9{ background-color: #101505; }
.hover:bg-tertiary-10{ background-color: #0a0e03; }
.hover:bg-tertiary-11{ background-color: #060802; }

.text-primary-1{ color: #ebf5d6; }
.text-primary-2{ color: #ddeebb; }
.text-primary-3{ color: #cce699; }
.text-primary-4{ color: #bbdd77; }
.text-primary-5{ color: #aad555; }
.text-primary-6{ color: #99cc33; }
.text-primary-7{ color: #80aa2b; }
.text-primary-8{ color: #668822; }
.text-primary-9{ color: #4d661a; }
.text-primary-10{ color: #334411; }
.text-primary-11{ color: #1f290a; }

.text-secondary-1{ color: #fbfdf7; }
.text-secondary-2{ color: #f8fcf1; }
.text-secondary-3{ color: #f5faeb; }
.text-secondary-4{ color: #f2f8e4; }
.text-secondary-5{ color: #eef7dd; }
.text-secondary-6{ color: #ebf5d6; }
.text-secondary-7{ color: #c4ccb2; }
.text-secondary-8{ color: #9da38f; }
.text-secondary-9{ color: #767b6b; }
.text-secondary-10{ color: #4e5247; }
.text-secondary-11{ color: #2f312b; }

.text-tertiary-1{ color: #d2d4ce; }
.text-tertiary-2{ color: #b4b8ad; }
.text-tertiary-3{ color: #8f9485; }
.text-tertiary-4{ color: #6a705c; }
.text-tertiary-5{ color: #444d33; }
.text-tertiary-6{ color: #1f290a; }
.text-tertiary-7{ color: #1a2208; }
.text-tertiary-8{ color: #151b07; }
.text-tertiary-9{ color: #101505; }
.text-tertiary-10{ color: #0a0e03; }
.text-tertiary-11{ color: #060802; }